@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap');
*{
    margin: 0;
    padding:0px;
    background-size: cover;
    background-blend-mode: darken;
    background-image: url(1/DSC_0096-02.jpeg);
    font-size: small;
    background-attachment: fixed;
}
 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: none;
    position: fixed;
    top: 0;
    width: 100%;
    text-decoration: none;
    color: aliceblue;
    font-size: 30px;
    font-family: 'Balsamiq Sans', cursive;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
    font-size:20px;
  }

a:link, a:visited {
    color:silver;
    text-decoration: none;
  }

a:hover {
    text-decoration: underline;
  }
  
a:active {
    text-decoration: underline;
  }

.sec{
    font-family: 'Balsamiq Sans', cursive;
    padding-bottom: 100%;
}

.box-main{
    display: flex;
    justify-items: center;
    align-items: center;
    color: silver;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height:1200px;
}

.text-big{
    font-size: 50px;
    font-family: 'Balsamiq Sans', cursive;
}

.text-small{
    font-size: 30px;
    font-family: 'Balsamiq Sans', cursive;
}


.btn{
    padding: 7px 20px;
    border: 2px solid white;
    background:none;
    border-radius: 8px;
    color:silver;
    margin : 7px 3px;
    cursor: pointer;
    font-size: 20px;
}

.footer{
    justify-content: center;
    text-align: center;
    padding: 20px 30px;
    display: flex;
    color:black;
    font-size: 30px;
}

.burger{
  display: none;
  position: absolute;
  right:5%;
  top:15px;
  cursor:pointer;
}

.line{
  background-color:black;
  margin:5px 3px;
  width: 55px;
  height: 6px;
}

@media only screen and (max-width:633px){
  ul{
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 16px;
  }

  li {
    float: left;
    width: inherit;
  }

  .navbar{
    flex-direction: column;
  }

  .burger{
    display: block;
  }

  .h-nav-resp{
    height: 72px;
  }

  .v-class-resp{
    opacity:0;
  }
  
  .text-big{
    font-size: 30px;
  }

  .text-small{
    font-size: 20px;
  }

  .footer{
    font-size: 20px;
  }
  .box{
    padding-top: 0px;
    padding-bottom: 522px;
  }

  .box-main{
    height:1308px;
  }

  a:link, a:visited {
    color: silver;
    text-decoration: none;
    font-size: 24px;
  }
}
